

<div class="container">
    <div class=" text-center">
        <h1>What-a-Burger!</h1>
        <img class="img-fluid" height="200" width="200" src="assets/images/burger.png" alt="What a burger">
    </div>
    {{!-- end of heading --}}
    <section>
        {{!-- main body --}}
        <div class="row">
            <div class="col-12 text-center">
                <h2>Add-a-Burger!</h2>

                <form class="col-md-12" action="/burger/add" method="POST">

                    <div class="form-group">
                        <label for="newBurgers">Add-da-Burger you want to eat:</label>
                        <input type="text" id="newBurgers" name="burger_name">
                    </div>

                    <button class="btn btn-success" type="submit">Add-da-burger</button>
                </form>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-6">
                <h2>Ready to Eat Burgers</h2>
                <div class="row"></div>

                {{#each burgers}} {{#unless this.devoured}}
                <form action="/burger/update/{{this.item_id}}?_method=PUT" method="POST">
                    <p>{{this.burger_name}}</p>
                    <input type='hidden' name='devoured' value='true'>
                    <button class="btn" type="submit" id="eat_burger">Eat-a-Burger!</button>
                </form>

                {{/unless}} {{/each}}
            </div>

            <div class="col-md-6">
                <h2>Devoured</h2>

                {{#each burgers}} {{#if this.devoured}}

                <p>{{this.burger_name}}</p>

                {{/if}} {{/each}}
            </div>
        </div>
    </section>

    {{!-- end row --}}
</div>

{{!-- <footer class="text-center">
    &copy;2018 Made with &hearts; by
    <span>
        <a href="github.com/powusu6128">philip Owusu</a>
    </span>
</footer> --}}