body{

	background: url(../img/burger.png);
	background-color: #99ccff;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 25%;
	text-align:  center;
}

.container	{

	margin-top: 220px;
	position: absolute;
    text-align: center;
}

#header {
	
	text-align: center;
}

button {
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	background-color: #7d5937;
	color: white;
}

li{
	list-style-type: none;
}